.calculator {
    width: 150px;
    text-align: center;
    color: #999;
}

.result {
    font-size: 3.0em;
    font-weight: bold;
    color: red;

}

.operator1 {
    font-size: 1.5em;
    font-weight: bold;
    color: black;

}

.operator2 {
    font-size: 1.5em;
    font-weight: bold;
    color: blue;

}

.addition-button {
    cursor: pointer;
    font-weight: bold;
    color: blue;
}
.substraction-button {
    cursor: pointer;
    color: green;
    font-weight: bold;
}

.multiplication-button {
    cursor: pointer;
    font-weight: bold;
    color: red;
}

.division-button {
    cursor: pointer;
    font-family: Impact;
    font-weight: bold;
    color: yellow;
}

.exp-button {
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.sqr-button {
    cursor: pointer;
    color: #0191e4;
    font-weight: bold;
    font-family: Impact;
}

.sqrt-button {
    cursor: pointer;
    color: #0191e4;
    font-weight: bold;
    font-family: Impact;
}
